/* code for section 5  */

.section-5-btn-container{

    text-align: center;
}

.section-5-btn-container>button{

    background-color: #087e80;
    color: white;
    width: 330px;
    height: 50px;
    font-size: 24px;
    border: none;

    /* //to disable the hover effect */
    pointer-events: none;

}

.section-5-heading{
    color: #087e80;

}
.section-5-heading>span{

    font-weight: 500;

}

.section-5-card {
   
    text-align: center;
}


@media screen and (max-width: 600px) {

 /*code for section 5*/
 .section-5-card-row-1{
    margin-bottom: 0px !important;

}
.section-4-left-item-odd{

   
    height:auto;
}

.section-4-left-item-even{

 
    height: auto;
}

}