   <!-- section 5 -->
   <div class="container section-5-btn-container mb-5">

    <button class="btn btn-primary mb-5">KNOW OUR SERVICES</button>

    <section class=" text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light section-5-heading"><span>SECTORS</span> WE WORK WITH</h1>
         
        </div>
      </div>
    </section>

    <!-- code for images with class -->
    <div class="row mb-4 section-5-card-row-1">
      <div class="col-lg-4 section-5-card">
        <img src="../../../../assets/images/background/power.png" width="200" height="180" alt="image is loading">
        <h2 class="fw-normal">Power</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 section-5-card">
        <img src="../../../../assets/images/background/auto.png" width="200" height="180" alt="image is loading">
        <h2 class="fw-normal">Automotive</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 section-5-card">
        <img src="../../../../assets/images/background/industrial.png" width="200" height="180" alt="image is loading">
        <h2 class="fw-normal">Industrial</h2>
      </div><!-- /.col-lg-4 -->
      
    </div>
    
    <div class="row section-5-card-row-2">
      <div class="col-lg-4 section-5-card">
        <img src="../../../../assets/images/background/it_sector.png" width="200" height="180" alt="image is loading">
        <h2 class="fw-normal">IT sector</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 section-5-card">
        <img src="../../../../assets/images/background/mining.png" width="200" height="180" alt="image is loading">
        <h2 class="fw-normal">Mining</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 section-5-card">
        <img src="../../../../assets/images/background/Biofuels.png" width="200" height="180" alt="image is loading">
        <h2 class="fw-normal">Biofuels</h2>
      </div><!-- /.col-lg-4 -->
      
    </div>


</div>