
<div class="container-fluid header-image " >
  
     
    <div class="heading">

      <p class="big-font animate__animated animate__fadeInLeft animate__delay-1s mb-5">CRAFTING <br> TRANSFORMATIVE <br> PATHWATS TO A <br> ANET-ZERO FUTURE</p>
      <p class="small-font animate__animated animate__fadeInUp animate__delay-2s mb-5">With strategic and impactful <br> Decarbonization solutions</p>
      <button class="heading-button animate__animated animate__fadeIn animate__delay-3s "  onclick="location.href='./services.html'">SERVICES</button>

    
    </div>


</div>