  <!-- /* services section_4 */ -->
  <h1 class="services-section_4-heading">Sectors<span> We Work With</span></h1>

  <!-- /* services section_5 */ -->
   <div class="container service-section-5-container boder mb-5">

    <div class="slider-container">
      <div class="slider-wrapper ">
        <div class="slider service-section-5-slider">
          <div class="card">

              <img src="../../../../assets/images/background/power.png" alt="image is loading">

          </div>
          <div class="card">
            <img src="../../../../assets/images/background/auto.png" alt="image is loading">
          </div>
          <div class="card">
            <img src="../../../../assets/images/background/industrial.png" alt="image is loading">
          </div>
          <div class="card">
            <img src="../../../../assets/images/background/it_sector.png" alt="image is loading">
          </div>
          <div class="card">
            <img src="../../../../assets/images/background/mining.png" alt="image is loading">
          </div>
          <div class="card">
            <img src="../../../../assets/images/background/Biofuels.png" alt="image is loading">
          </div>
          
        </div>
      </div>
    
    </div>
    
    <div class="buttons">
      <button id="prev" aria-label="Show previous items">
            <img src="../../../../assets/images/icons/arrow-left1.png"  width="50" height="50" alt="">
      </button>  
      <button id="next" aria-label="Show next items">
          <img src="../../../../assets/images/icons/arrow-right.png"  width="50" height="50" alt="">
      </button>
    </div>

   </div> 