
       <!-- about-us-section-4 -->

       <div class="container about-us-section-4-container mb-5">


        <div class="g-3 row row-cols-1 row-cols-md-3 row-cols-sm-2">
            <div class="col">
              <div class="card shadow-sm about-us-section-4-card">
                  <img src="../../../../assets/images/background/Sustainability_about.png" alt="image is loading">
              <div class="card-body">
                  <h4 class="card-text about-us-section-4-card-header">Sustainability Innovation:</h4>
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="btn-group">
                      <p class="about-us-section-4-card-description">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                   
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
                <div class="card shadow-sm about-us-section-4-card"  >
                    <img src="../../../../assets/images/background/Capability_about.png" alt="image is loading">
                <div class="card-body">
                    <h4 class="card-text about-us-section-4-card-header">Capability Development:</h4>
                    <div class="d-flex align-items-center justify-content-center">
                      <div class="btn-group">
                        <p class="about-us-section-4-card-description">
                            Tailored capacity-building programs to 
                            empower teams with skills in GHG emissions 
                            accounting, life cycle assessment, and 
                            international best practices in sustainability</p>
                     
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm about-us-section-4-card">
                    <img src="../../../../assets/images/background/Strategic_about.png" alt="image is loading">
                <div class="card-body">
                    <h4 class="card-text about-us-section-4-card-header">Sustainability Innovation:</h4>
                    <div class="d-flex align-items-center justify-content-center">
                      <div class="btn-group">
                        <p class="about-us-section-4-card-description">Craft actionable strategies that deliver long-term 
                            value by integrating sustainability into core 
                            business operations.</p>
                     
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
           
           
          </div>

          
      </div>
