    <!-- about-us-section-5 -->

    <div class="container about-us-section-5-container">
        
        <button class="btn btn-primary mb-5">KNOW OUR SERVICES</button>
</div>


<!-- about-us-section-6 -->


<div class="container about-us-section-6-container">

    <h1 class="mb-5">Our <b>Founders</b></h1>  
    
     <!-- section-6-row-1 -->
    <div class="row about-us-section-6-row-1 mb-md-5">
        <div class="col-md-6 about-us-section-6-col">

                    <div class="row about-us-section-6-card">

                        <div class="col-md-4 about-us-section-6-image-container">

                            <img src="../../../../assets/images/background/Dr. Anuradda Ganesh.png" alt="image is loading">

                        </div>
                        <div class="col-md-8 about-us-section-6-card-body">

                            <h2 class="about-us-section-6-card-body-header mb-3 mt-3">Dr. Anuradda Ganesh <img src="../../../../assets/images/icons/linkedin.png" height="50px" width="50px" alt="loading image"></h2>
                            <p class="about-us-section-6-card-body-description">Dr. Anuradda Ganesh is a 
                                distinguished engineer, 
                                sustainability expert and cofounder ARANTREE Consulting 
                                Services Pvt Ltd, which is incubated 
                                at the IITM Incubation Centre...</p>
                            <img src="../../../../assets/images/icons/arrow-right.png" alt="image is loading">

                        </div>

                    </div>

        </div>
        <div class="col-md-6 about-us-section-6-col">


          <div class="row about-us-section-6-card">

            <div class="col-md-4 about-us-section-6-image-container">

                <img src="../../../../assets/images/background/blank.png" alt="image is loading">

            </div>
            <div class="col-md-8 about-us-section-6-card-body">

                <h2 class="about-us-section-6-card-body-header mb-3 mt-3">Dr. Nikhil Tambe <img src="../../../../assets/images/icons/linkedin.png" height="50px" width="50px" alt="loading image"></h2>
                <p class="about-us-section-6-card-body-description">Dr Nikhil S Tambe has over 20 years of 
                  professional experience in technology 
                  and innovation management roles in 
                  the domain of energy and 
                  sustainability...</p>
                <img src="../../../../assets/images/icons/arrow-right.png" alt="image is loading">

            </div>

        </div>



        </div>


        </div>

        <!-- section-6-row-2 -->

        <div class="row">
          <div class="col-md-6 about-us-section-6-col">

                      <div class="row about-us-section-6-card">

                          <div class="col-md-4 about-us-section-6-image-container">

                              <img src="../../../../assets/images/background/Dr. Satyanarayan┬á.png" alt="image is loading">

                          </div>
                          <div class="col-md-8 about-us-section-6-card-body">

                              <h2 class="about-us-section-6-card-body-header mb-3 mt-3">Dr. Satyanarayan <img src="../../../../assets/images/icons/linkedin.png" height="50px" width="50px" alt="loading image"></h2>
                              <p class="about-us-section-6-card-body-description">Prof Satyanarayanan Seshadri 
                                works in the area of energy 
                                efficiency enhancement through 
                                development of heat pumps, 
                                thermal energy storage systems...</p>
                              <img src="../../../../assets/images/icons/arrow-right.png" alt="image is loading">

                          </div>

                      </div>

          </div>
          <div class="col-md-6 about-us-section-6-col">

            <!-- card code -->

            <div class="row about-us-section-6-card">

              <div class="col-md-4 about-us-section-6-image-container">

                  <img src="../../../../assets/images/background/blank.png" alt="image is loading">

              </div>
              <div class="col-md-8 about-us-section-6-card-body">

                  <h2 class="about-us-section-6-card-body-header mb-3 mt-3">Dr. SANTOSH 
                    KUMAR SAHU <img src="../../../../assets/images/icons/linkedin.png" height="50px" width="50px" alt="loading image"></h2>
                  <p class="about-us-section-6-card-body-description">Prof. Santosh Kumar Sahu is an 
                    Associate Professor of Economics in the 
                    Department of Humanities and Social 
                    Sciences and an Associate Faculty...</p>
                  <img src="../../../../assets/images/icons/arrow-right.png" alt="image is loading">

              </div>

          </div>
           <!-- card code -->



          </div>


          </div>




</div>