<div class="container-fluid section-12-container "  id="footer-div">

           

    <div class="row section-12-container-row-1 mb-5">  

      <div class="col-md-6 section-12-container-row-1-col-1">

        <h4 class="section-12-container-row-1-col-1-text">
            <p>

              To inquire for a new project email us at : <br>
              <b>customersupport@arantree.com</b>
            </p>

            <p>
              Mailing Address :<br>
              <b>
                Arantree Consulting Services Private Ltd  <br>
              IITM Research Park, 1FA 1st Floor, Kanagam Road,  <br>
              Taramani, Chennai 600 113
              </b>
            </p>

          

        </h4>
      </div>
 

      <div class="col-md-6 section-12-container-row-1-col-2">
        <form id="contactForm">
          <h3 class="mb-3">How can we Help?</h3>
          <div class="mb-5">
           
            <input type="text" class="form-control" id="name"  name="name" placeholder="Name">
           
          </div>
          <div class="mb-5">
           
            <input type="email" class="form-control" id="email" name="email"  placeholder="Email">
           
          </div>
          <div class="mb-5">
          
            <input type="text" class="form-control" id="mobile" name="mobileno" placeholder="Mobile">
           
          </div>
        
          <div class="btn-container">
               <button type="submit" class="section-12-submit-btn">Submit</button>
          </div>
          
        </form>
      </div>

  </div>
  <hr>
  <div class="row section-12-container-row-2">  

    <h5>© Copyright 2024. Arantree Consulting Services Private Ltd.</h5>
    
  </div>


  


  


</div>