
    <!-- section 4 -->

    <div class="container mb-5">


        <!-- code for section 4 card with a left side image -->
      <div class="row">

        <div class="col-md-5 col-sm-12 section-4-left-image">

          <img src="../../../../assets/images/background/net_zero.png" alt="image is loading">

        </div>
        <div class="col-md-7 col-sm-12 section-4-right-section">

          <div class="row section-4-right-item-odd  item"> 
              
            <h3 >Net Zero</h3>
            <div class="row section-4-list-item">
              <div class="col-md-12 mb-2" style="display: flex;justify-content: space-between;">
                <h1>Carbon Footprint <br> assessment</h1>
                  <img src="../../../../assets/images/icons/arrow-right.png" alt="image is loading">

              </div>
            </div>
           
          </div>



          <div class="row section-4-right-item-even item"> 
              
            <h3 class="mt-1">Net Zero</h3>
            <div class="row section-4-list-item">
              <div class="col-md-12 mb-2" style="display: flex;justify-content: space-between;">
                <h1>Life Cycle <br> assessment</h1>
                  <img src="../../../../assets//images//icons/arrow-right.png" alt="image is loading">

              </div>
            </div>
           
          </div>


          <div class="row section-4-right-item-odd item "> 
              
            <h3 class="mt-1">Net Zero</h3>
            <div class="row section-4-list-item">
              <div class="col-md-12 mb-2" style="display: flex;justify-content: space-between;">
                <h1>Charting Decarbonization <br> Road maps</h1>
                  <img src="../../../../assets/images/icons/arrow-right.png" alt="image is loading">

              </div>
            </div>
           
          </div>


        </div>
      </div>

      <!-- code for section 4 card with a right side image -->
      <div class="row">

        <div class="col-md-7 section-4-left-section">


          <div class="row section-4-left-item-odd  item"> 
              
            <h3 >Capability Building</h3>
            <div class="row section-4-list-item">
              <div class="col-md-12 mb-2" style="display: flex;justify-content: space-between;">
                <h1>Future ready Sustainability 
                  Practices</h1>
                  <img src="../../../../assets/images/icons/arrow-right.png" alt="image is loading">

              </div>
            </div>
           
          </div>



          <div class="row section-4-left-item-even item"> 
              
            <h3 class="mt-1">Capability Building</h3>
            <div class="row section-4-list-item">
              <div class="col-md-12 mb-2" style="display: flex;justify-content: space-between;">
                <h1>Tailored Training 
                  Programs</h1>
                  <img src="../../../../assets/images/icons/arrow-right.png" alt="image is loading">

              </div>
            </div>
           
          </div>


          
          

        </div>
        <div class="col-md-5 section-4-right-image">

          <img src="../../../../assets/images/background/capability.png" alt="image is loading">
         


        </div>
      </div>


    </div>
