
         <!-- about-us-section-7 -->

         <div class="container-fluid about-us-section-7-container mt-5">
            <div class="container about-us-section-7-sub-container">
    
                  <h1 class="mb-md-4">OUR <b>TEAM</b></h1>
                  <p>Arantree has a young and dynamic team that is passionate about making a difference in the field of decarbonization and green energy. 
                    Harnessing the deep expertise of the founders, Arantree and its team has been able to come up with unique solutions that further the 
                    Net Zero goals by crafting evidence-backed, financially sustainable net-zero roadmaps that align with global and national commitments.
                  </p>
            </div>
    
          </div>
    