      <!-- //code for card with left image -->
      <div class="container mb-3">


        <div class="row">
     
         <div class="col-md-5 left-image">
             <img src="../../../../assets/images/background/govt.png" alt="Image is loading">
     
         </div>
         <div class="col-md-7 right-section ">
     
     
     
             <h2 class="mb-3">For Government </h2>
             <p class="mb-5" >As a developing economy, India’s carbon emissions are set to peak in the 
               next 2 decades! Government faces the challenge of finding sustainable and 
               progressive solutions while achieving the target of Vikasit Bharat 2047
             </p>
               
               
               <div class="row">
                   <p class="mb-3">Panchamrit, or India’s five point pledge</p>
                   <div class="icon-with-description">
                       <div class="list-item">
                           <img src="../../../../assets/images/icons/Zero.png" alt="image is loading" width="50px" height="50px">
                           <p>Zero Emission <br>
                             by 2070
                           </p>
                       </div>
                       <div class="list-item">
                         <img src="../../../../assets/images/icons/Enhance.png" alt="image is loading" width="50px" height="50px">
                         <p>Enhance non fossil fuel
                           energy to 500 GW by 2030
                         </p>
                       </div>
                       <div class="list-item">
                         <img src="../../../../assets/images/icons/Enhance.png" alt="image is loading" width="50px" height="50px">
                         <p>Increase renewable energy
                           proportion to 50% by 2030
                         </p>
                       </div>
                       <div class="list-item">
                         <img src="../../../../assets/images/icons/Reduce.png" alt="image is loading" width="50px" height="50px">
                         <p>Reduce emission intensity
                           of the economy by 45%</p>
                       </div>
                       <div class="list-item">
                         <img src="../../../../assets/images/icons/tonne.png" alt="image is loading" width="50px" height="50px">
                         <p>Reduce CO2 emissions
                           by 1 billion tonne</p>
                       </div>
     
                       
                   
     
                   </div>
     
     
             </div>
     
     
     
     
         </div>
        
       
       </div>
        
     
     
     
        </div>
     
     
          <!-- //code for card with right image -->
     
        <div class="container " >
     
     
         <div class="row">
      
         <div class="col-md-7 left-section " style="text-align: right;">
      
      
      
              <h2 class="mb-3">For Corporates </h2>
              <p class="mb-5" >Industry accounts for around 28% of total greenhouse gas (GHG) emissions. 
               Being economically viable, growing output and improving on innovative 
               technologies while being sustainable is a challenge.
              </p>
                
                
                <div class="row">
                    <p class="mb-3">Energy Trilemma</p>
                    <div class="icon-with-description" style="justify-content: end; gap:30px">
                        <div class="list-item">
                            <img src="../../../../assets/images/icons/Security.png" alt="image is loading" width="50px" height="50px">
                            <p>Energy Security
                            </p>
                        </div>
                        <div class="list-item">
                          <img src="../../../../assets/images/icons/Equity.png" alt="image is loading" width="50px" height="50px">
                          <p>Energy Security
                          </p>
                        </div>
                        <div class="list-item">
                          <img src="../../../../assets/images/icons/Sustainability.png" alt="image is loading" width="50px" height="50px">
                          <p>Energy Security
                          </p>
                        </div>
                       
      
                        
      
      
                    </div>
      
      
              </div>
      
      
          </div>
     
          <div class="col-md-5 right-image">
           <img src="../../../../assets/images/background/corp.png" alt="Image is loading">
     
       </div>
         
        
        </div>
         
      
      
      
         </div>