.section-11-banner{

       
    width: 100%;
    padding-bottom: 5%;
     background-image: url("../../../assets/images/background/end_banner.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end; 
}

.section-11-banner-content{

    color: white;
    padding-left: 25%;
    padding-top: 5%;
}

.section-11-banner-content>button>h2{

    margin: 0px;
}

.section-11-banner-content button{

    background-color: white;
    color: #087c80;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 5px;
    

}


/* //responsive code for this html */

@media screen and (max-width: 600px) {
   /* code for section 11 */
   .section-11-banner-content{
    text-align: center;
    padding-left: 0%;
   padding-top: 10%;
}
}