   <!--Services section 3 -->

   <div class="container services-section-3-container mb-3">

    <p>By combining the rigor of research with the pragmatism of business, Arantree aims to create a world where sustainability is seamlessly integrated 
      into progress.</p>
    
    <p>At Arantree, we believe that:</p>
    <div class="row services-section-3-row">

        <div class="col-md-6 services-section-3-col">
            <h2>Sustainability is not an option but an
              imperative:</h2>
            <p>We work to embed sustainable practices into businesses and
              government policies, creating scalable and financially viable solutions.</p>
        </div>
        <div class="col-md-6 services-section-3-col">
            <h2>Collaboration is key:</h2>
            <p>Academia, industry, and government must work together to achieve
              a Net Zero future and Arantree strives to be the catalyst that connects
              these entities for impactful climate action.
              </p>
        </div>


    </div>
  </div>