
        <!-- services section 11 -->
    
        <h1 class="mb-5 section-11-heading"><b>Founder</b> Recognitions</h1>

        <div class="container services-section-11-container">


          <div class="section-11-slider-container">
              <div class="section-11-slider-wrapper">
                <div class="section-11-slider">
                  <div class="section-11-card">
                          <!-- <h1><b>Founder</b> Recognitions</h1> -->
                          <p>Led the sub-committee on circular economy for B20 
                              recommendations to the G20 in 2023.
                          </p>
                          <img src="../../../../assets/images/icons/G2new.png" alt="image is loading">
                  </div>
                  <div class="section-11-card">
                    <p>Led the sub-committee on circular economy for B20 
                      recommendations to the G20 in 2023.
                  </p>
                  <img src="../../../../assets/images/icons/G2new.png" alt="image is loading">
                  </div>
                  <div class="section-11-card">
                      <p>Led the sub-committee on circular economy for B20 
                        recommendations to the G20 in 2023.
                    </p>
                    <img src="../../../../assets/images/icons/G2new.png" alt="image is loading">

                  </div>
                  <div class="section-11-card">

                    <p>Led the sub-committee on circular economy for B20 
                      recommendations to the G20 in 2023.
                  </p>
                  <img src="../../../../assets/images/icons/G2new.png" alt="image is loading">

                  </div>
                  <div class="section-11-card">
                      <p>Led the sub-committee on circular economy for B20 
                        recommendations to the G20 in 2023.
                    </p>
                    <img src="../../../../assets/images/icons/G2new.png" alt="image is loading">

                  </div>
                  <div class="section-11-card">

                    <p>Led the sub-committee on circular economy for B20 
                      recommendations to the G20 in 2023.
                    </p>
                    <img src="../../../../assets/images/icons/G2new.png" alt="image is loading">

                  </div>
                </div>
              </div>
            
            </div>
            
            <div class="section-11-buttons">
              <button id="section-11-prev" aria-label="Show previous items">
                
                <img src="../../../../assets/images/icons/arrow-left.png"  width="40" height="40" alt="">
              </button>
              <button id="section-11-next" aria-label="Show next items">
                  <img src="../../../../assets/images/icons/arrow-right.png"  width="40" height="40" alt="">
               
              </button>
            </div>
  
      </div>
