   <!-- section 7 -->
   <h1 id="heading-3"> Spotlight on <span>Arantree</span></h1>
     

   <!-- section 8 -->


   <div class="container section-8-container" >

      <div class="row section-8-row-1">

        <div class="col-md-4  section-8-row-1-item item1" >
          <h1>The <br>
            Arantree  <br>
            Difference</h1>
        </div>
        <div class="col-md-4  section-8-row-1-item item2">
              <h4>
                Rich experience in developing <span>novel
                technologies</span>, creating new
                inventions and implementation of innovative
                solutions in both industry and academia
              </h4>

        </div>
        <div class="col-md-4  section-8-row-1-item item3">

              <h4>
                Deep understanding of indigenously developed
                technology and their <span>effective
                mapping</span> to fill critical sustainability gaps
                for our clients
              </h4>


        </div>


      </div>

      <div class="row section-8-row-2">

        <div class="col-md-3  section-8-row-2-item item1" >

          <h4>
              Founders experienced in <br>
              working with high <br>
              powered <br>
              <span>
              government
              committees’
              </span>
              <br>
              
              setup for developing <br>
              sustainability frameworks, <br>
              standards and regulations.
          </h4>

        </div>
        <div class="col-md-3  section-8-row-2-item item2">

          <h4>
            Arantree is Incubated 
            and funded by <br>
            <span>
              IIT Madras 
              incubation 
              cell.
            </span>
          

          </h4>

        </div>
        <div class="col-md-3  section-8-row-2-item item3">
          <h4>
            Arantree strives to be the catalyst that <br>
            <span>
              connects academia,
            </span>
            industry and government entities for
            impactful climate action.
          </h4>
        </div>
        <div class="col-md-3  section-8-row-2-item item4">

          <h4>
            Our CEO is a <span> Fellow of
            INAE </span> and featured
            Amongst Top 75 Women in
            STEM during Azadi Ka Amrit
            Mohotsav. 
           </h4>

        </div>


      </div>






   </div>



   <!-- section 8 for mobile screen  only -->

    
   <div class="container mobile-only-section-8-container" >

    <div class="row mobile-only-section-8-row-1">

      <div class="col-md-4  mobile-only-section-8-row-1-item item1" >
        <h1>The <br>
          Arantree  <br>
          Difference</h1>
      </div>
      <div class="col-md-4  mobile-only-section-8-row-1-item item2">
            <h4>
              Rich experience in developing <span>novel
              technologies</span>, creating new
              inventions and implementation of innovative
              solutions in both industry and academia
            </h4>

      </div>
      <div class="col-md-4  mobile-only-section-8-row-1-item item3">

            <h4>
              Deep understanding of indigenously developed
              technology and their <span>effective
              mapping</span> to fill critical sustainability gaps
              for our clients
            </h4>


      </div>


    </div>

    <div class="row mobile-only-section-8-row-2">

      <div class="col-md-3  mobile-only-section-8-row-2-item item1" >

        <h4>
            Founders experienced in <br>
            working with high <br>
            powered <br>
            <span>
            government
            committees’
            </span>
            <br>
            
            setup for developing <br>
            sustainability frameworks, <br>
            standards and regulations.
        </h4>

      </div>
      <div class="col-md-3  mobile-only-section-8-row-2-item item2">

        <h4>
          Arantree is Incubated 
          and funded by <br>
          <span>
            IIT Madras 
            incubation 
            cell.
          </span>
        

        </h4>

      </div>
      <div class="col-md-3  mobile-only-section-8-row-2-item item3">
        <h4>
          Arantree strives to be the catalyst that <br>
          <span>
            connects academia,
          </span>
          industry and government entities for
          impactful climate action.
        </h4>
      </div>
      <div class="col-md-3  mobile-only-section-8-row-2-item item4">

        <h4>
          Our CEO is a <span> Fellow of
          INAE </span> and featured
          Amongst Top 75 Women in
          STEM during Azadi Ka Amrit
          Mohotsav. 
         </h4>

      </div>


    </div>






 </div>