 <!-- Services section 2 -->
 <div #counterDiv class="container-fluid mb-5 services-section-2-container" id="services-section-2-container">

    <div class="container">

        <div class="row services-section-2-container-row">

            <div class="col-md-4 services-section-2-container-col">
                <h1 id="count-1" class="large-text">{{ currentCount_1 }}%</h1>
                <p>of India's electricity generation 
                    depends on coal.</p>
            </div>
            <div class="col-md-4 services-section-2-container-col">

                <h1 id="count-2" class="large-text">{{ currentCount_2 }}%</h1>
                <p>growth in skill gap by 2027 
                    for the renewable energy 
                    sector</p>
            </div>
            <div class="col-md-4 services-section-2-container-col">

                <h1 id="count-3" class="large-text">LACK</h1>
                <p>of concrete sectoral targets, clear 
                    roadmaps, and short-term 
                    milestones hamper policy 
                    implementation and co-ordination</p>

            </div>
        </div>
      

    </div>


  </div>