       <!-- services-section-8-->
            <!-- already defined in aboutus.html in section-5 so just copy and pasting here -->
            <div class="container about-us-section-5-container">
        
                <button class="btn btn-primary mb-5">TALK TO US</button>
         
            </div>
   
   
              <!-- services-section-9-->
            <!-- already implemented in this file only in section 6 just copy and pasting here -->
          <div class="container mb-5 services-section-6-container">
           <h1>BENEFITS TO <b>INDUSTRY AND GOVERNMENT</b></h1>
           <p>Arantree is dedicated to developing evidence-backed, financially sustainable net-zero roadmaps 
             for industries and governments.</p>
   
          </div>
   
   
           <!-- services-section-10-->
   
           <div class="container mb-5 services-section-10-container">
   
             <div class="row">
   
               <div class="col-md-3 services-section-10-col"> 
   
                 <div class="mb-2 services-section-10-img-container">
                       <img src="../../../../assets/images/icons/benefit_01.png" alt="">  
                 </div>
                   <p>
                     Integration of national 
                     commitments (Panchamrit) into 
                     corporate sustainability goals.
   
                   </p>
   
   
   
               </div>
               <div class="col-md-3 services-section-10-col">
                
                 <div class="mb-2 services-section-10-img-container">
                   <img src="../../../../assets/images/icons/benefit_02.png" alt="">  
                 </div>
               <p>
                 Validation of solutions through 
                 data-driven assessments and 
                 indigenous capability mapping.
   
               </p>
   
               </div>
               <div class="col-md-3 services-section-10-col">
   
                 <div class="mb-2 services-section-10-img-container">
                   <img src="../../../../assets/images/icons/benefit_03.png" alt="">  
                 </div>
               <p>
                 Evidence-backed frameworks for 
                 reducing financial risk while 
                 accelerating sustainability 
                 transitions.
   
               </p>
   
   
               </div>
               <div class="col-md-3 services-section-10-col">
   
   
                 <div class="mb-2 services-section-10-img-container">
                   <img src="../../../../assets/images/icons/benefit_04.png" alt="">  
                 </div>
               <p>
                 Tailored capability development 
                 helps businesses address skill gaps 
                 and increase relevant talent pool
   
               </p>
   
   
   
               </div>
   
   
             </div>
               
   
   
   
           </div>