<app-services-header></app-services-header>
<app-services-counter-section></app-services-counter-section>
<app-services-description-section></app-services-description-section>
<app-services-sectors-carousel></app-services-sectors-carousel>
<app-services-heading-with-description></app-services-heading-with-description>
<app-services-box-structure></app-services-box-structure>
<app-services-benifits-section></app-services-benifits-section>
<app-services-text-slider></app-services-text-slider>
<app-boxes-structure-info></app-boxes-structure-info>