 <!-- section 9 -->
 <h1 id="heading-4" class="mt-5 mb-4"> Spotlight on <span>Arantree</span></h1>

 <!-- section 10 -->

 <div class="container mb-5 section-10-container">

  <div class="row">
    
    <div class="col-md-3 section-10-container-item">
        <img src="../../../../assets//images/background/SPOTLIGHT1.png" alt="image is loading">

    </div>

      <div class="col-md-3 section-10-container-item">
        <img src="../../../../assets/images/background/SPOTLIGHT2.png" alt="image is loading">
     </div>

      <div class="col-md-3 section-10-container-item">
        <img src="../../../../assets/images/background/SPOTLIGHT3.png" alt="image is loading">
    </div>

    <div class="col-md-3 section-10-container-item">
      <img src="../../../../assets/images/background/SPOTLIGHT4.png" alt="image is loading">
  </div>
 
    
    
  </div>
</div>