<div class="container mb-5 services-section-6-container" >  

    <!-- //row -1 -->
    <div class="row mb-3 services-section-6-row-1">

          <div class="col-md-2 services-section-6-row-1-col-1">

                <h1>
                  NET <br class="section-6-br">ZERO
                </h1>

          </div>

          <div class="col-md-5 services-section-6-row-1-col-2" >

            <div class="row services-section-6-row-1-col-2-row">

              <div class="col-md-12 mb-4 services-section-6-row-1-col-2-row-col">
                <h3>Carbon Footprint Assessment</h3>
                <p>We conduct assessment of carbon emissions across the 
                  entire enterprise value chain (Scope1,2 &3emissions) . 
                  These assessments provide a baseline to benchmark 
                  performance, identify key areas for improvement, and 
                  guide financially sustainable decarbonization actions.</p>
              </div>
              <div class="col-md-12 services-section-6-row-1-col-2-row-col">
                <h3>Decarbonisation Roadmap</h3>
                <p>We develop actionable, stagewise, decarbonization 
                  roadmao. We focus on minimizing financial risk while 
                  maximizing carbon reductions. Our also promote 
                  integration of indigenous technologies to accelerate the 
                  transition to validated net-zero outcomes.</p>
              </div>


            </div>


          </div>
          
          
          <div class="col-md-4 services-section-6-row-1-col-3" >

            <h3>Life Cycle Assessment</h3>
            <p>Our comprehensive Life Cycle 
              Assessments deliver insights into 
              environmental impacts at each stage 
              of a product's lifecycle.This approach 
              helps enterprises uncover key 
              decarbonization opportunities while 
              staying aligned with national and 
              global sustainability commitments.</p>
          </div>


    </div>

    <!-- row-2 -->

      <div class="row services-section-6-row-2">
          <div class="col-md-3 services-section-6-row-2-col-1">

            <h1>CAPABILITY <br class="section-6-br">
              BULDING</h1>
          </div>
          <div class="col-md-4 services-section-6-row-2-col-2">

          
             


                <h3>Future-Ready 
                  Sustainability Training 
                  Programs</h3>
                  <p>Our customised training programs empower 
                    organizations to build a skilled, future-ready 
                    workforce in Sustainability, ESG and Circular 
                    Economy. Covering sustainable product 
                    development, GHG accounting, and 
                    specialized green fuel topics, these programs 
                    seamlessly integrate with your talent 
                    development initiatives to deliver actionable 
                    knowledge and skills.
                  </p>


           
             


            
              

          </div>
          <div class="col-md-4 services-section-6-row-2-col-3">
              <h3>Tailored Recommendations</h3>
              <p>Our team delivers personalized, data-driven 
                recommendations for decarbonization 
                technologies and solutions. We prioritize 
                factors such as circularity, manufacturability, 
                and economic viability, ensuring alignment 
                with global and national commitments for 
                impactful outcomes.</p>


          </div>

      </div>

   </div>
    