<!-- //about-us-section-2 -->

      <div class="container-fluid about-us-section-2-container">

        <div class="row about-us-section-2-container-row">

            <div class="col-md-5 about-us-section-2-container-col-1">
                <p>

              

                    <span>Arantree Consulting Services Pvt Ltd,</span> is a specialized advisory 
                    firm dedicated to developing evidence-backed, financially 
                    sustainable net-zero roadmaps for industries and 
                    governments. At Arantree, we go beyond mere consulting—we 
                    empower our clients with validated solutions that not only 
                    align with global and national decarbonization goals but also 
                    deliver tangible, measurable impact. <br><br>
                    
                    
                    What sets us apart is our ability to bridge the technical depth 
                    of subject matter expertise with a holistic understanding of 
                    business, finance, and sustainability principles. 
                    
                </p>
            </div>
            <div class="col-md-7 about-us-section-2-container-col-2 ">
    
                    <img src="../../../../assets/images/background/about_header_banner.png" alt="Image is loading">
    
    
            </div>
        </div>
       




      </div>